.container {
  width: 95%;
  height: 85vh;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  .blog {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    background: rgba(250, 250, 250, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-top: 20px;
    padding: 10px;
  }
}
